:root {
  --background-color-1: #dddddd;
  --background-color-2: #cccccc;
  --accent-color: #1F1F1F;
  --off-color: #3F3F3F;
  --primary-color: #005C69;
  --secondary-color: #7F557D;

  --pad: 1em;
  --radius: 1em;
}

:root .dark-mode {
  --background-color-1: #18191c;
  --background-color-2: #1f2024;
  --accent-color: #dddddd;
  --off-color: #9f9f9f;
}

.off-color {
  color: var(--off-color);
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;

  background-color: var(--background-color-1);
  color: var(--accent-color);
  cursor: var(--crosshair) 16 16, auto;

  height: 100vh;
  width: 100vw;
}

button {
  font-family: 'Courier New', Courier, monospace;
}

@keyframes openmodal {
  0% {
    scale: 0;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

#main-menu {
  background-color: var(--background-color-2);
  color: var(--accent-color);
  border-radius: var(--radius);
  text-align: center;

  box-sizing: border-box;
  padding: 2em;
  margin: 0;
  width: 300px;

  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 100;
}

#main-menu:open {
  animation: openmodal .1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#main-menu header h1 {
  margin: 0;
}

#main-menu header p {
  margin: 0;
  margin-bottom: .5em;
}

#main-menu nav {
  margin: 0 auto;

  max-width: 80%;
  width: 300px;
}

#main-menu nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-menu nav ul button {
  background-color: transparent;
  color: var(--accent-color);

  border: none;
  border-radius: .5em;

  font-size: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  padding: .25em var(--pad);
  width: 100%;

  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#main-menu nav ul button::before,
#main-menu nav ul button::after {
  font-family: 'Material Symbols Outlined';
  content: '\e5cc';
}

#main-menu nav ul button::after {
  visibility: hidden;
}

#main-menu nav ul button:hover {
  background-color: var(--primary-color);
  color: #dddddd;
  cursor: pointer;
  transform: scale(1.1);
}

main {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  
  pointer-events: none;
}

#game {
  height: 100%;
  width: 100%;
}

#ui {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw;

  pointer-events: none;
  background: transparent;

  z-index: 50;
}

#hit-overlay {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw;

  pointer-events: none;
  
  background-image:
    linear-gradient(90deg,  rgba(150, 20, 20) 0%, rgba(150, 20, 20, .5) 30%, transparent 100%),
    linear-gradient(270deg, rgba(150, 20, 20) 0%, rgba(150, 20, 20, .5) 30%, transparent 100%),
    linear-gradient(180deg, rgba(150, 20, 20) 0%, rgba(150, 20, 20, .5) 30%, transparent 100%),
    linear-gradient(0deg,   rgba(150, 20, 20) 0%, rgba(150, 20, 20, .5) 30%, transparent 100%);

  background-size: 50px 100%, 50px 100%, 100% 50px, 100% 50px;
  background-position: left center, right center, top center, bottom center;
  background-repeat: no-repeat;

  opacity: 0;
  transition: opacity 1s ease-out;
}

#hit-overlay.hit {
  opacity: 1;
  transition: opacity .1s ease-in;
}